<div class="container">
  
<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<h1 style="margin-left: 138px;padding-top: 43px;"> 이메일보내는 페이쥐입니다.
<img src="http://cfs2.tistory.com/upload_control/download.blog?fhandle=YmxvZzk4MzM3QGZzMi50aXN0b3J5LmNvbTovYXR0YWNoLzIvMjA5LmpwZw%3D%3D" style="
    width: 50px;
    height: 50px;
"> 
노트 :)</h1>

<img src="http://www.petsprin.com/i/2016/09/baby-mickey-mouse-wallpaper-picture.jpg" style="
    width: 50px;
    height: 50px;
    padding-left: 100px;
">

  
<img src="http://www.domyownpestcontrol.com/images/content/mouse.jpg" style="
    border-left-width: 20px;
    padding-left: 100px;
    width: 400px;
    height: 300px;
">
<form action="/write" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1"> 메일제목 </label>
    <input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="mouse #">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1"> 받는사람 </label>
    <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="m/d/y">
  </div>
  
  <label for="exampleInputPassword1"> 메일내용</label>
  
  <textarea name="content" class="form-control" rows="5" id="comment" placeholder="genotype"> 
  </textarea>
</div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>