<h1>Submitted!</h1>


<img src="http://cdn2.wallpapersok.com/uploads/picture/993/174/174993/picture-174993.jpg?width=665" style="
    width: 500px;
">




<%=@almond%>
<h2> 여러분의 메일제목은 </h2>
<%=@cherry%>

<h2> 여러분이 쓴 글의 내용은</h2>
<%=@anchovy%>

<a href="/"> Main page </a>
